.Life {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.LifeTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LifeTitle {
    visibility: hidden;

    margin: 40px 20px;
}

.Continue {
    visibility: hidden;

    cursor: pointer;
    background-color: #5ca74e;
    box-sizing: border-box;
    border: inset 2px;

    width: 40px;
    height: 40px;
    border-radius: 500px;
}

.Continue:hover {
    background-color: #70a966;
}

.LifeCalendar {
    visibility: hidden;

    flex: 1 1 auto;
    width: calc(100% - 800px);
    margin: 0 400px 40px 400px;
    border: solid white 2px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.MonthHeadings {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;

    font-size: 18px;
}

.MonthHeading {
    flex: 1 1 auto;
    padding: 4px 0;
}

.Year {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
}

.Year:last-child {
    border-bottom: 2px solid #282c34;
}

.Month {
    position: relative;
    flex: 1 1 auto;
    background-color: rgb(119, 126, 132);
    border-right: 2px solid #282c34;
    border-top: 2px solid #282c34;
}

.Month.TutorialMonth {
    background-color: rgb(113, 179, 124);
}

.Month:first-child {
    border-left: 2px solid #282c34;
}

.Tutorial {
    position: absolute;
    right: 100%;
    width: 200px;
    font-size: 18px;
    opacity: 0;
}

.Tutorial.Right {
    left: 100%;
}
