.Life {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.LifeTitle {
    margin: 40px;
}

.LifeCalendar {
    flex: 1 1 auto;
    margin: 0 400px 40px 400px;
    border: solid white 3px;
    border-radius: 40px;
}
